<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/5c4a94bbfc.js"
      crossorigin="anonymous"
    ></script>

    <link rel="icon" type="image/png" href="/img/MercadoLibre.png" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
        <br />
        <div class="main-header-top-bar">
          <div class="logo">
            <img src="./img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
          </div>
  
          <br />
          <br />
          <div class="buscador">
            <input type="Buscar" placeholder="Buscar productos, marcas" /><button>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
          <h2 class="subtitulo">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>
        <nav class="menu-header">
          <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <br />
          <ul class="rigth-navbar">
            <li>
              <a href="/register"
                >Creá tu cuenta <i class="fa-solid fa-id-card"></i>
              </a>
            </li>
            <li>
              <a href="/login"
                >Ingresá <i class="fa-solid fa-right-to-bracket"></i>
              </a>
            </li>
            <li>
              <a href="#"
                >Mis Compras <i class="fa-solid fa-basket-shopping"></i>
              </a>
            </li>
          </ul>
        </nav>
  
        <div class="burguer-menu">
          <button class="boton-burguer">
            <i id="burguer" class="fa-solid fa-bars"></i>
          </button>
        </div>
        <br class="espacio" />
      </header>
      <main class="login">
          <form action="/" method="POST">
        <div class="usuarioLogin">
            
            <input type="text" id="usuarioLogin" name="usuario" placeholder="Nombre de Usuari@" required />
        </div>

        <div class="passLogin">
            
            <input type="password" id="contraseñaLogin" name="contraseña" placeholder="Escribe una Contraseña" required />
        </div>
        
        <button type="submit" class="enviarLogin">
        <div class="textoLogin">
          Enviar
        </div>
        </button>

          </form>
      </main>
      <footer class="pie-pagina">
          <br />
          <br />
    
          <i class="fa-solid fa-credit-card"></i>
          <h3 class="titulo-foot">Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
            en puntos de pago. ¡Y siempre es seguro!
          </p>
    
          <br />
          <br />
    
          <i class="fa-solid fa-gift"></i>
          <h3 class="titulo-foot">Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
            de productos. Es un beneficio de Mercado Puntos.
          </p>
    
          <br />
          <br />
    
          <i class="fa-solid fa-user-shield"></i>
          <h3 class="titulo-foot">Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
    
          <br />
    
          <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </footer>
    </body>
  </html>