<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/5c4a94bbfc.js"
      crossorigin="anonymous"
    ></script>

    <link rel="icon" type="image/png" href="/img/MercadoLibre.png" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <br />
      <div class="main-header-top-bar">
        <div class="logo">
          <img src="./img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </div>

        <br />
        <br />
        <div class="buscador">
          <form action="/" method="POST">
            <input
              type="Buscar"
              placeholder="Buscar productos, marcas"
            /><button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
        <h2 class="subtitulo">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
      <nav class="menu-header">
        <ul class="left-navbar">
          <li><a href="#" class="titulo-ofertas">Ofertas</a></li>
          <li><a href="#" class="titulo-tiendas">Tiendas Oficiales</a></li>
          <li><a href="#" class="titulo-vender">Vender</a></li>
          <li><a href="#" class="titulo-ayuda">Ayuda</a></li>
        </ul>
        <br />
        <ul class="rigth-navbar">
          <li>
            <a href="/register" class="titulo-crea"
              >Creá tu cuenta <i class="fa-solid fa-id-card"></i>
            </a>
          </li>
          <li>
            <a href="/login" class="titulo-login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i>
            </a>
          </li>
          <li>
            <a href="#" class="titulo-compras"
              >Mis Compras <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </li>
        </ul>
      </nav>

      <div class="burguer-menu">
        <button class="boton-burguer">
          <i id="burguer" class="fa-solid fa-bars"></i>
        </button>
      </div>
      <br class="espacio" />
    </header>

    <main class="mainRegister">
      <form action="/" method="POST" class="registro">
        <div class="datos">
          <div class="texto">
            <label for="nombre" class="NomApe">Nombre y Apellido</label>
          </div>
          <input
            type="text"
            id="nombre"
            name="nombre"
            placeholder="Juan Perez"
            required
          />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="usuario" class="NUsuario">Nombre de Usuari@</label>
          </div>
          <input
            type="text"
            id="usuario"
            name="usuario"
            placeholder="JPepe123"
            required
          />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="email" class="mail">E-mail</label>
          </div>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Perezjuan123@gmail.com"
            required
          />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="fecha" class="fecha">Fecha de Nacimiento</label>
          </div>
          <input type="date" id="fecha" name="fecha" required />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="domicilio" class="domicilio">Domicilio</label>
          </div>
          <input
            type="text"
            id="domicilio"
            name="domicilio"
            placeholder="Calle Falsa 123"
          />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="perfil" class="perfil">Perfil de Usuario</label>
          </div>
          <div class="perfilUsuario">
            <input
              type="radio"
              id="perfil"
              name="perfil"
              value="comprador"
              class="comprador"
            />
            Comprador

            <input
              type="radio"
              id="perfil"
              name="perfil"
              value="vendedor"
              class="vendedor"
            />
            Vendedor
          </div>
        </div>
        <div class="categoriaInteres">
          <div class="texto">
            <label for="intereses" class="CatInt">Categorías de Interes</label>
          </div>

          <div class="categorias">
            <label value="electro"
              ><input type="checkbox" id="intereses" name="intereses" />
              Electro</label
            >
            <br />
            <label value="moda"
              ><input type="checkbox" id="intereses" name="intereses" />
              Moda</label
            >
            <br />
            <label value="hogar"
              ><input type="checkbox" id="intereses" name="intereses" />
              Hogar</label
            >
            <br />

            <label value="jugueteria"
              ><input type="checkbox" id="intereses" name="intereses" />
              Jugueteria</label
            >
            <br />
            <label value="vidaSana"
              ><input type="checkbox" id="intereses" name="intereses" /> Vida
              Sana</label
            >
            <br />
          </div>
        </div>

        <div class="datos">
          <div class="texto">
            <label for="foto" class="foto">Foto de Usuario</label>
          </div>
          <input type="file" id="foto" name="foto" accept=".jpg/.jpeg/.png" />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="contraseña" class="contra">Contraseña</label>
          </div>
          <input
            type="password"
            id="contraseña"
            name="contraseña"
            placeholder="Escriba Contraseña..."
            required
          />
        </div>

        <div class="datos">
          <div class="texto">
            <label for="confirmar" class="confirm">Confirmar Contraseña</label>
          </div>
          <input
            type="password"
            id="confirmar"
            name="confirmar"
            placeholder="Escriba Nuevamente..."
            required
          />
        </div>
        <div class="botones-register">
          <button type="submit" class="enviar-register">Enviar</button>
          <button type="reset" class="borrar-register">Borrar</button>
        </div>
      </form>
    </main>

    <footer class="pie-pagina">
      <div class="objeto-foot">
        <i class="fa-solid fa-credit-card"></i>
        <h3 class="titulo-foot">Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="objeto-foot">
        <i class="fa-solid fa-gift"></i>
        <h3 class="titulo-foot">Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="objeto-foot">
        <i class="fa-solid fa-user-shield"></i>
        <h3 class="titulo-foot">Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
