<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer documento en HTML</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hurricane&family=Playfair+Display:ital,wght@1,400;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h4>Probando etiquetas</h4>

    <h1>El titulo de nuestro documento</h1>

    <h2>Un subtitulo cualquiera</h2>
    <img src="/images/TomH.jpg" alt="Tom Hiddleston" />

    <strong>Otro texto en negrita</strong>
    <p>
      Lorem ipsum dolor <strong>Esto es un texto en negritas</strong> sit amet
      consectetur adipisicing elit. Pariatur vitae autem sequi molestiae
      accusantium magnam velit natus fuga tenetur deleniti perferendis et,
      corrupti molestias officia ipsa nam excepturi! Possimus, consectetur?
    </p>

    <p class="parrafo-destacado">
      Lorem <em>Soy un texto en cursiva</em> ipsum dolor sit, amet consectetur
      adipisicing elit. Consectetur eos quas maxime aliquam temporibus similique
      provident? Quisquam quasi illum beatae non culpa nostrum, iusto animi!
      Aspernatur eveniet quos tenetur incidunt?
    </p>

    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ol>

    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    <a href="http://www.google.com">Ir a Google</a>

    <!--=========================Article=======================================-->

    <article class="contenedor01">
      <h2>Lorem ipsum dolor sit</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>

      <article class="contenedor02">Soy el contenedor02</article>
    </article>

    <article class="contenedor02">
      <h2>Lorem ipsum dolor sit</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>

      <article class="contenedor01">Soy el contenedor01</article>
    </article>

    <p class="oculto">HOLA! ESTABA OCULTO Y NO LO PODIAS VER HASTA AHORA!!</p>

    <article class="contenedorEj">
      <h2>Lorem ipsum dolor sit</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
    </article>
    <article class="otroContenedor">
      <h2>Lorem ipsum dolor sit</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
    </article>
    <article class="yAunHayMas">
      <h2>Lorem ipsum dolor sit</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla nostrum
        voluptatem, sint consequatur culpa distinctio, consequuntur atque modi
        eligendi earum esse magnam optio voluptatum officiis neque
        exercitationem non, vitae quo. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem nihil officia quidem repudiandae molestiae ut
        est, architecto cupiditate ea consequatur? Quae placeat quaerat quis
        aliquam, velit vitae voluptatum odit similique.
      </p>
    </article>
  </body>
</html>
